
- var images_count = images.length
// TODO:SL REFACTOR Should i use here divs or something else? (<section> maybe?)
div.imagesWallContainer
  if images_count > 0
    each image in images
      div.singleImageWallContainer
        img(src=image.location_on_server, alt="", srcset="")
        p.imageName= `${image.name}`
        p.imageDesc= `${image.desc}`
        // TODO:SL think about how to show image rating...
        p.imageRating= `Rating obrazka: ${image.rating}`        
        if calling_user !== image.owner && calling_user && image.voted === 'negative'
          p.imageOwner= `uploadował: ${image.owner}`
          form(action=`/logged/rate/${image.owner}/${image.id}/positive`, method="post")
            button(type="submit") Lubię
          form(action=`/logged/rate/${image.owner}/${image.id}/negative`, method="post")
            button(type="submit") Nie Lubię
  else
    p.infoParagraph Brak Obrazków dla #{name_of_wall_owner}